    <form>
      <mat-form-field>
        <mat-label>Address Line 1</mat-label>
        <input type="text" matInput [formControl]="form.addressLine1">
        <mat-error *ngIf="form.addressLine1.hasError('required')">
          Address Line 1 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>City</mat-label>
        <input type="text" matInput [formControl]="form.city">
        <mat-error *ngIf="form.city.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <mat-select [formControl]="form.state">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.state.hasError('required')">
          State is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Zip</mat-label>
        <input type="string" matInput [formControl]="form.zip">
        <mat-error *ngIf="form.zip.hasError('required')">
          Zip is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
  
    </form>